<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>IpiMdd050EvalWeb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://bootswatch.com/3/journal/bootstrap.min.css">
</head>
<body class="ember-application">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

<div><nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" class="navbar-toggle collapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a th:attr="action='../'" class="navbar-brand active ember-view">Librairie Audio</a>
        </div>

        <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/artists?page=0&amp;size=10&amp;sortProperty=name&amp;sortDirection=ASC" class="nav-link ember-view">Liste des artistes: [[${nbArtiste}]]</a></li>
            </ul>

            <form role="search" class="navbar-form navbar-right" th:attr="action='/artists?'" method="GET">
                <div class="form-group">
                    <input name="name" type="text" placeholder="Rechercher par nom" class="ember-text-field form-control ember-view">
                </div>
                <button type="submit" class="btn btn-default">Rechercher</button>
            </form>
        </div>
    </div>
</nav>

    <form method="POST" action="" th:action="@{/artists/creeArtist}"  th:object="${art}">

        <br>
       Nom Artiste: </br>

        <input type=text th:field="*{name}" name=name maxlength="60" ><br>

        <input type="submit" value="envoyer" id="artist" name="artist">

    </form>


</div>
</body></html>